.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #041026;
    border-bottom: 1px solid #000;
    animation: fadeIn .5s ease-in-out;

    img{
        width: 75px;
        height: 75px;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 15px;

        a{
            margin: 0 15px;
            text-decoration: none;
            color: #F2F2F2;
            font-size: 1.35em;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        top: -50px;
    }
    100% {
        top: 0;
    }
}